<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ADM - Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
        <link rel="icon" type="image/title-icon" href="./img/favicon.ico">
</head>
<body>
    <header class="header" id="header">
        <nav class="navbar">
            <div class="name">
                <img id="logo" src="./img/logo.png" alt="logo">
                <h1>Dra. Micaela Bologna</h1>
                <br>
                <p class="subtext">
                    Médica Ginecóloga y Obstetra.
            </div> 
            <div class="menu">
                <ul class="navButton" id="navButton">
                    <li><a href="https://vmel96.github.io/Full-Stack-Python---Codo-a-Codo---Comisi-n-23020---Grupo-3/" title="Ir a inicio"> <button class="sin-bordes">Inicio</button></a> </li>
                    <li><a href="https://vmel96.github.io/Full-Stack-Python---Codo-a-Codo---Comisi-n-23020---Grupo-3/publicaciones.html" title="Ir a Publicaciones"><button class="sin-bordes">Publicaciones</button></a> </li>
                    <li><a href="https://vmel96.github.io/Full-Stack-Python---Codo-a-Codo---Comisi-n-23020---Grupo-3/cv.html" title="Ir a 'Sobre mi'"><button class="sin-bordes">Sobre mí</button></a> </li>
                    <li><a href="https://vmel96.github.io/Full-Stack-Python---Codo-a-Codo---Comisi-n-23020---Grupo-3/contacto.html" title="Ir a formulario de Contacto"><button class="sin-bordes">Contacto</button></a></li>
                    <li><a href="staff.html" title="Ir staff/labs"><button class="sin-bordes">Staff</button></a></li>
                    <li><a href="https://vmel96.github.io/Full-Stack-Python---Codo-a-Codo---Comisi-n-23020---Grupo-3/" title="Desloguearse"><button class="sin-bordes" style="background-color: blueviolet;">Desloguearse</button></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div id="app" class="container bg-white shadow-sm" style="border-radius: 2%;">
            <h1 class="fw-semibold">Staff</h1>
            <br>
            <a  class="btn btn-success" href="create.html">Nuevo</a>
            <br><br>
            <section>
                <div class="table-responsive">
                    <table class="table table-bordered table-danger border-danger table-striped">
                        <thead>
                            <tr>
                                <th scope="col">MN</th>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">ESPECIALIDAD</th>
                                <th scope="col">CORREO</th>
                                <th scope="col">HORARIOS</th>
                                <th scope="col">FOTO</th>
                                <th scope="col">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=""  v-for="profesional in profesionales">
                                <td scope="row">{{profesional.mn}}</td>
                                <td>{{profesional.nombre}}</td>
                                <td>{{profesional.especialidad}}</td>
                                <td>{{profesional.correo}}</td>
                                <td>{{profesional.horarios}}</td>
                                <td>
                                    <img width="60"  :src="profesional.foto" :alt="profesional.nombre" style="border-radius: 25%;">
                                </td>
                                <td>
                            <a class="btn btn-primary" :href="'edit.html?mn='+profesional.mn">Editar</a>
                                    <button type="button" class="btn btn-danger" v-on:click="remover_profesional(profesional.mn)">Remover</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
            <br><br>
            <!-- /////////////////////// Aqui van los laboratorios ///////////////////////////////////  -->
        <div id="app2" class="container bg-white shadow-sm" style="border-radius: 2%;">
            <h1 class="fw-semibold">Laboratorios</h1>
            <br>
            <a  class="btn btn-success" href="createLab.html">Nuevo</a>
            <br><br>
            <section>
                <div class="table-responsive">
                    <table class="table table-bordered table-success border-success table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">DIRECCIÓN</th>
                                <th scope="col">TELÉFONO</th>
                                <th scope="col">DIRECTOR</th>
                                <th scope="col">SITIO WEB</th>
                                <th scope="col">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=""  v-for="laboratorio in laboratorios">
                                <td scope="row">{{laboratorio.id}}</td>
                                <td>{{laboratorio.nombre}}</td>
                                <td>{{laboratorio.direccion}}</td>
                                <td>{{laboratorio.telefono}}</td>
                                <td>{{laboratorio.director}}</td>
                                <td>{{laboratorio.sitio_web}}</td>
                                <td>
                            <a class="btn btn-primary" :href="'editLab.html?id='+laboratorio.id">Editar</a>
                                    <button type="button" class="btn btn-danger" v-on:click="remover_laboratorio(laboratorio.id)">Remover</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/profesionales.js"></script>
    <script src="./js/laboratorios.js"></script>
    <!--
    <script src="./js/main.js"></script>
    -->
</body>
</html>